/** @format */
* {
  font-family: "Poppins";
}

.blur {
  z-index: 0;
  width: 537.51px;
  height: 176.65px;
  background: linear-gradient(
    253.26deg,
    #97e6ff 2.7%,
    #a690fc 38.09%,
    rgba(252, 150, 187, 0.46) 63.65%,
    rgba(255, 195, 151, 0.28) 83.29%
  );
  opacity: 0.3;
  filter: blur(41.6405px);
  transform: matrix(-1, -0.03, -0.03, 1, 0, 0);
}

.top-down-padding {
  padding-top: 90px;
  padding-bottom: 90px;
  border-bottom: 1px solid rgb(204, 197, 197);
}

.section1-list-icon {
  width: 65px;
  height: 65px;
  margin-left: -12px;
}

.section1-list-text {
  background-color: #ebf3ff;
  font-size: 16.5px;
  font-weight: 600;
}

.heading1 {
  /* font-family: "Poppins"; */
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  word-wrap: break-word;
  color: #2e2e2e;
  padding: 1px 2px;
}

p {
  margin: 0px;
}

.join_btn1 {
  background-color: #0e3c6e;
  color: white;
  border-radius: 100px;
  font-size: 20px;
}

.join_btn1:hover {
  background-color: #0e3c6e;
  color: white;
  border-radius: 100px;
  font-size: 20px;
}

.start-3 {
  left: -10px;
}

.section2-p {
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.358205px;
}

.heading2 {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.358205px;
}

.card {
  border-radius: 14px;
  /* padding: 20px; */
}

.card-body {
  padding: 30px;
}

.card-img {
  top: -26px;
  right: -16px;
}

.card-subtitle {
  font-weight: 500;
  font-size: 120%;
}

.card-title {
  font-weight: 700;
  font-size: 185%;
  letter-spacing: -0.408px;
  color: #0e3c6e;
  margin-bottom: 20px;
}

.section3 {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: none;
}

.card-text {
  font-weight: 500;
  font-size: 130%;
  letter-spacing: -0.408px;
  padding-bottom: 8px;
  margin-top: 10px;
}

.fo-text {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.408px;
  padding-bottom: 8px;
  margin-top: 10px;
}

.fo-title {
  font-weight: 700;
  font-size: 21px;
  letter-spacing: -0.408px;
  color: #0e3c6e;
  margin-bottom: 20px;
}

.text1 {
  border-bottom: #b3aaaa 1px solid;
}

.card-text > span {
  margin-left: 10px;
  color: #656565;
}

.download_btn {
  border: #0e3c6e 1px solid;
  color: #0e3c6e;
  font-weight: 500;
}

.download_btn:hover {
  border: #0e3c6e 1px solid;
  color: #0e3c6e;
  font-weight: 500;
}

.join_btn2 {
  background-color: #0e3c6e;
  color: white;
}

.join_btn2:hover {
  background-color: #0e3c6e;
  color: white;
}

.section6 {
  background: #eff7fe;
  border-bottom: 1px solid rgb(204, 197, 197);
}

.section7 {
  margin: 90px 0px;
}

.card2 {
  height: 400px;
}

.title-design {
  position: absolute;
  top: 30px;
  width: 120px;
}

.big-card {
  background: #f5f7f9;
  border-radius: 40px;
}

.footer-box {
  background: #ffffff;
  box-shadow: -8px -8px 16px rgba(64, 93, 230, 0.25),
    8px 8px 16px rgba(64, 93, 230, 0.25);
  border-radius: 10px;
}

.section9 {
  margin-top: 150px;
  margin-bottom: 150px;
}
/* @media (max-width: 992px) {
  .set {
    margin-bottom: 30px;
  }
} */

.font2 {
  font-size: 18px;
  margin-right: 1px;
}

@media (max-width: 768px) {
  .section1-img {
    margin-top: 80px;
  }

  .heading2 {
    font-size: 32px;
  }

  .none {
    display: none;
  }

  #join_btn1 {
    background-color: #0e3c6e;
    color: white;
    border-radius: 100px;

    font-size: 14px;
  }

  .heading2 {
    font-size: 25px;
    text-align: center;
  }

  .heading1 {
    font-size: 30px;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .heading2 {
    font-size: 25px;
    text-align: center;
  }

  .heading1 {
    font-size: 30px;
    text-align: center;
  }

  .font1 {
    font-size: 12px;
  }

  .font2 {
    font-size: 12px;
    margin-right: 1px;
  }
}

.aside1 {
  width: 100vw;
  padding: 10px;
  background: linear-gradient(
    106.1deg,
    #97e6ff 8.21%,
    rgba(166, 144, 252, 0.75176) 42.1%,
    rgba(252, 150, 187, 0.46) 67.33%,
    rgba(255, 195, 151, 0.28) 93.17%
  );
  box-shadow: -8px -8px 16px rgba(148, 119, 255, 0.18);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 6%;
}

.navbar {
  padding: 0px;
}

.aside1 > p {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.35820472240448px;
}

.aside1 > img {
  height: 80px;
  width: 70x;
  border-radius: 0px;
}

.aside1 > button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.main-section {
  padding-top: 16px;
}

.aside1 > button {
  padding: 14px 25px 14px 25px;
  background-color: #0e3c6e;
  color: white;
  box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1), 8px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.section1 {
  margin-top: 50px;
}

@media only screen and (max-width: 718px) {
  .aside1 {
    gap: 2%;
  }

  .aside1 > img {
    height: 50px;
    width: 40x;
  }

  .aside1 > p {
    font-size: 14px;
  }

  .aside1 > button {
    font-size: 12px;
    padding: 1px 1px;
  }

  .aside1 > button {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #0e3c6e;
    color: white;
    box-shadow: -8px -8px 16px rgba(0, 0, 0, 0.1),
      8px 8px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

  .section1 {
    margin-top: 10px;
  }
}
